# git+https://github.com/supervisely/supervisely.git@some-test-branch

supervisely==6.73.486

torch==1.13.0
torchvision==0.14.0
openmim
mmcv-full==1.7.0
mmdet==2.28.2
mmcls==0.24.1

ffmpeg-python==0.2.0
imagecorruptions==1.1.2
