# git+https://github.com/supervisely/supervisely.git@some-test-branch

supervisely[agent,model-benchmark] @ git+https://github.com/supervisely/supervisely.git@upgrade-protobuf

-f https://download.pytorch.org/whl/torch_stable.html
-f https://download.openmmlab.com/mmcv/dist/cu111/torch1.10.0/index.html
torch==1.10.0+cu111
torchvision==0.11.0+cu111
mmcv-full==1.4.2
mmdet==2.22.0
mmcls==0.23.1
pyyaml==6.0
scikit-learn==1.0.2
yapf==0.40.1

ffmpeg-python==0.2.0
imagecorruptions==1.1.2
