<sly-card title="MMDetection task"
          subtitle="Select task from the list below"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsedTask"
          :disabled="{disabled: state.disabledTask}"
          ref="step1"
>

    <sly-field title="INFO: How to select task?"
        description="At this step you should select deep learning problem that you want to solve. Outputs of object detection models - only bounding boxes with confidence. Outputs of instance segmentation models in addition contain object masks. Selected task at this step defines models list to choose. If you want to serve model based on already trained custom model, choose the appropriate task."
        style="padding-top: 0; padding-bottom: 0; margin: 10px 5px;">

        <sly-icon slot="icon" :options="{ color: '#cece66', bgColor: '#f7f7eb', rounded: false }">
            <i class="zmdi zmdi-info"></i>
        </sly-icon>
    </sly-field>

    <sly-field title="Select deep learning problem to solve">
        <div><el-radio v-model="state.task" :disabled="data.doneTask" label="detection">Object Detection</el-radio></div>
        <div><el-radio v-model="state.task" :disabled="data.doneTask" label="instance_segmentation">Instance Segmentation</el-radio></div>
    </sly-field>

    <div v-if="state.modelsUpdating">
        <span style="color: #5a6772;">Loading model configs of selected task...</span>
    </div>

    <el-button
            type="primary"
            class="mt10 regular"
            :loading="state.modelsUpdating"
            v-if="!data.doneTask"
            @click="command('select_task')">
        Select task
    </el-button>

    <el-button type="warning" class="regular mt10" :plain="true"
               @click="state.restartFrom = 1;"
               v-if="data.doneTask && !state.deployed">
        <i class="zmdi zmdi-rotate-left mr5"></i> Reselect task
    </el-button>
</sly-card>