<sly-card title="Training classes"
          subtitle="Select classes, that should be used for training. Training supports only classes of shapes Polygon
                    and Bitmap. Other classes are ignored"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsedClasses"
          :disabled="{disabled: state.disabledClasses, message: 'Select model to train at step 3 before selecting classes.'}"
          ref="step4"
>
    <el-table
            class="ultra-table"
            :data="data.classes"
            style="width: 100%"
            max-height="500"
            :disabled="data.doneClasses || state.findingItemsToIgnore"
            @selection-change="
                (val) => {
                    state.selectedClasses = val.map(x => x.title);
                }
                "
    >
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column label="Name" prop="title" sortable>
            <template scope="scope">
                <i class="zmdi zmdi-circle mr5" :style="{color: scope.row.color}"></i>
                {{ scope.row.title }}
            </template>
        </el-table-column>
        <el-table-column prop="shape" label="Shape" sortable width="180"></el-table-column>
        <el-table-column prop="imagesCount" label="Images count" sortable width="150"></el-table-column>
        <el-table-column prop="objectsCount" label="Objects count" sortable width="180"></el-table-column>
        <el-table-column prop="areaPercent" label="Area percent" sortable width="150"></el-table-column>
    </el-table>

    <div v-if="state.findingItemsToIgnore">
        <span style="color: #5a6772;">Filtering classes and geometry types in project...</span>
    </div>

    <el-button type="primary" class="regular mt10"
               @click="command('use_classes')"
               :disabled="state.selectedClasses.length < 1"
               :loading="state.findingItemsToIgnore"
               v-if="!data.doneClasses">
        Use {{state.selectedClasses.length}} selected classes
    </el-button>
    <div v-if="data.doneClasses">
        <i class="zmdi zmdi-check-circle ml5 mr5 mt10" style="color: #13ce66"></i>
        <span style="color: #5a6772;">Selected {{state.selectedClasses.length}} classes.</span>
    </div>
    <div v-if="data.doneClasses && state.ignoredItems > 0">
        <i class="zmdi zmdi-info ml5 mr5 mt10" style="color: #b8ac05"></i>
        <span style="color: #5a6772;">{{state.ignoredItems}} / {{state.totalItems}} images will be ignored because of no needed labels.</span>
    </div>
    <el-button type="warning" class="regular mt10" :plain="true"
               @click="state.restartFrom = 4;"
               v-if="data.doneClasses && state.selectedClasses.length > 0 && !state.started">
        <i class="zmdi zmdi-rotate-left mr5"></i> Select other classes
    </el-button>
</sly-card>